<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118502184356-9f77sk2aa8d4fcfdgcg0kt29gmseete3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118502184356-9f77sk2aa8d4fcfdgcg0kt29gmseete3</string>
	<key>API_KEY</key>
	<string>PASTE KEY HERE</string>
	<key>GCM_SENDER_ID</key>
	<string>118502184356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myyearlive</string>
	<key>PROJECT_ID</key>
	<string>myyearlive</string>
	<key>STORAGE_BUCKET</key>
	<string>myyearlive.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118502184356:ios:e9a13d2dbc59ed8684dd31</string>
</dict>
</plist>